
@{
    ViewBag.Title = "AlreadyHasBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Извините, в нашей библиотеке можно брать только одну книгу. У вас есть книга на руках.</h2>
<h3>@Html.ActionLink("Вернуть книгу", "ReturnBook")</h3>
