
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <p>
        Вы забыли зарегистрироваться. Перейдите по ссылке: <br />
        @Html.ActionLink("Регистрация", "CheckIn")
    </p>
</div>
