
@{
    ViewBag.Title = "HasNoBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>У вас нет книг на руках</h2>
<p> Перейти к выбору книг @Html.ActionLink("Ассортимент", "Assortment", "Home")</p>

