@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div> 
        <p>@Html.ActionLink("Регистрация", "CheckIn") </p>
        <p> @Html.ActionLink("Войти","Enter")</p> 
        <p>@Html.ActionLink("Ассортимент", "Assortment")</p> 
        <p> @Html.ActionLink("Статистика", "GetStatistics")</p>
    </div>