
@{
    ViewBag.Title = "NoBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Извините, данной книги нет в наличии</h2>
<h3>Выберете другую книгу. @Html.ActionLink("Ассортимент", "Assortment")</h3>

