
@{
    ViewBag.Title = "ReturnBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Книга возвращена. Не желаете ли взять другую?</h2>
<p> Перейти к выбору книг @Html.ActionLink("Ассортимент", "Assortment", "Home")</p>

